<p id="notice"><%= notice %></p>

<div class="container">
<h1>Tu Nguyen's Ruby Blog</h1>
<h3>My first Rails Application</h3>

<%= render @articles %>

<br>

<%= link_to 'New Article', new_article_path %>
</div>
